---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Custom AI Solutions",
    description:
      "We create bespoke, state-of-the-art AI solutions, including advanced LLMs, tailored to your organization's unique needs and challenges.",
    icon: "bx:bxs-brain",
  },
  {
    title: "Privacy & Security First",
    description:
      "Our solutions prioritize data privacy, GDPR compliance, and robust security measures, ensuring your sensitive information remains protected.",
    icon: "bx:bxs-shield",
  },
  {
    title: "Responsible AI Usage",
    description:
      "We implement custom filters and firewalls to prevent malicious use of LLMs, promoting ethical and responsible AI adoption within your organization.",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Flexible Deployment Options",
    description:
      "Choose between cloud-based or self-hosted solutions, with options for proprietary or open-source LLMs to suit your specific requirements and infrastructure.",
    icon: "bx:bxs-cloud-upload",
  },
  {
    title: "Cutting-Edge Technology",
    description:
      "Stay ahead with our continuously updated AI solutions, incorporating the latest advancements in machine learning and natural language processing.",
    icon: "bx:bxs-rocket",
  },
  {
    title: "Knowledge Graph Integration",
    description:
      "We utilize knowledge graphs to ground data in truth, significantly reducing hallucinations and improving the accuracy of AI-generated responses.",
    icon: "bx:bxs-network-chart",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Empowering Your Organization with Advanced AI Solutions
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We provide custom, state-of-the-art AI solutions that transform your
    business processes while ensuring security, privacy, and responsible use.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
