---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Technologies we work with</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon
      class="size-8 md:size-12"
      name="simple-icons:openai"
      title="OpenAI: Creators of GPT models, powering advanced language understanding and generation"
    />
    <Icon
      class="size-8 md:size-12"
      name="simple-icons:anthropic"
      title="Anthropic: Developers of Claude, an AI assistant focused on safety and ethics"
    />
    <Icon
      class="size-8 md:size-12"
      name="simple-icons:google"
      title="Google: Offers various AI tools including Gemini, a large language model with multimodal capabilities"
    />
    <Icon
      class="size-8 md:size-12"
      name="simple-icons:meta"
      title="Meta AI: Creators of LLaMA, an open-source large language model"
    />
    <Icon
      class="size-8 md:size-12"
      name="simple-icons:neo4j"
      title="Neo4j: Graph database platform, ideal for complex, connected data"
    />
    <Icon
      class="size-8 md:size-12"
      name="simple-icons:amazonaws"
      title="Amazon Web Services (AWS): Cloud computing platform offering a wide range of services including AI and machine learning tools"
    />
    <Icon
      class="size-8 md:size-12"
      name="simple-icons:microsoftazure"
      title="Microsoft Azure: Cloud computing service for building, testing, deploying, and managing applications and services"
    />
    <Icon
      class="size-8 md:size-12"
      name="simple-icons:googlecloud"
      title="Google Cloud Platform (GCP): Suite of cloud computing services running on the same infrastructure that Google uses internally"
    />
  </div>
</div>
